<section class="col-md-6 col-sm-10 well">
  <h2 class="text-primary section-title">
    Upload routing file (xlsx file)
  </h2>

  <%= form_tag({ action: 'create' }, multipart: true) do %>
    <label class="btn btn-success btn-block btn-lg">
      Select an xlsx file from your computer
      <%= file_field_tag 'xlsx', class: 'hidden' %>
    </label>
    <h3 class="text-danger text-center file-name-description margin-1"></h3>
    <div class="actions">
      <%= button_tag 'Upload xlsx file', class: 'submit-xlsx-file btn btn-primary btn-block', disabled: true %>
    </div>
  <% end %>
</section>