/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 71px;
  background: #333 url('/assets/footer_lodyas.png');
}

.navbar {
  min-height: 50px;
  height: 50px;

  &.navbar-default {
    background-color: #fff;
  }

  .navbar-header, .navbar-right {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-header {
    float: left;

    .navbar-brand {
      padding: 5px 15px;
    }
  }

  .navbar-right {
    float: right;
  }
}

.flash-alert-container {
  position: fixed;
  top: 10px;
  width: 50%;
  left: 25%;
  z-index: 5000;

  .alert {
    padding: 5px 35px 5px 15px;
    margin-bottom: 5px;
  }
}

.section-title {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
}

label {
  margin-bottom: 0;
}

@mixin make-margin($size: 1) {
  @each $position in top, right, left, bottom {
    .margin-#{$position}-#{$size} {
      margin-#{$position}: $size * 20px;
    }
  }

  .margin-#{$size} {
    margin: $size * 20px;
  }
}

@for $size from 0 through 2 {
  @include make-margin($size);
}

@mixin make-well-opacity() {
  @for $strength from 0 through 4 {
    .well-opacity-#{$strength} {
      background-color: rgba(255, 255, 255, 1.0 - ($strength * 0.25));
    }
  }
}

@include make-well-opacity();