<div class="container-fluid main-container">
  <div class="col-md-8 col-sm-10 center-block">
    <h3 class="text-center">We're contacting you to notify you that your password has been changed.</h3>
  </div>
</div>